body{background:#222;color:#eee;font-famyly:Arial;font-size:16px;text-align:center}
header{background:url("logo.png") no-repeat 95%,url("fondo.png");background-size:200px,100px 100px;margin:0 0 1em 0;padding:.5em 0;width:100%;}
header h1{margin:0;text-shadow:rgba(255,255,255,0.5) 5px 5px 10px}
header h2{font-weight:normal;margin:0;text-shadow:rgba(0,0,0,0.7) 2px 2px 5px}
#cochecito{width:50%}
#historia{background:rgba(0,0,0,0.6);border-radius:.5em;box-shadow:rgba(0,0,0,0.5) 5px 5px 10px;margin:0 2% 1em 1em;padding:1em;text-align:left;width:40%}
